name: Build-Deploy-Matrix-Js

permissions:
  contents: write

on:
  workflow_call:
    secrets:
      MONGO_PASSWORD:
        required: true
    inputs:
      MONGO_USERNAME:
        type: string
        required: true

      build_type:
        type: string
        required: true

      dev:
        type: string
        required: false
        default: ""

      sit:
        type: string
        required: false
        default: ""

      qa:
        type: string
        required: false
        default: ""

      prod:
        type: string
        required: false
        default: ""

      dry_run:
        type: boolean
        required: true

jobs:
  Build:
    name: Build and Test
    runs-on: ubuntu-latest

    env:
      MONGO_USERNAME: ${{ inputs.MONGO_USERNAME }}
      MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npm test

      - name: Archive Test Results
        uses: actions/upload-artifact@v4
        with:
          name: npm-test-results-${{ github.run_number }}
          path: test-results.xml

      - name: Run Code Coverage
        run: npm run coverage
        continue-on-error: true

      - name: Archive Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: npm-coverage-results-${{ github.run_number }}
          path: coverage

      - name: Create Tag and Push It
        if: >
          inputs.build_type == 'Release' &&
          (
            github.ref == 'refs/heads/main' ||
            startsWith(github.ref, 'refs/heads/release/')
          )
        run: |
           TAG = "v${GITHUB_SHA::6}"
           echo "Tag: $TAG"
           git tag $TAG
           git push origin $TAG
              

  Deployment:
    needs: Build
    runs-on: ubuntu-latest
    # ${{ matrix.env != '' }} &&
    strategy:
      max-parallel: 1
      matrix:
        env:
          - ${{ inputs.dev }}
          - ${{ inputs.sit }}
          - ${{ inputs.qa }}
          - ${{ inputs.prod }}

    if: >
      ( inputs.dev != '' ) || ( inputs.sit != '' ) || ( inputs.qa != '' ) || ( inputs.prod != '' ) &&
      (
        github.ref == 'refs/heads/main' ||
        startsWith(github.ref, 'refs/heads/release/') ||
        startsWith(github.ref, 'refs/tags/')
      )

    environment: ${{ matrix.env }}

    steps:
      - name: Deploy
        run: |
          echo "Deploying to environment: ${{ matrix.env }}"
          echo "-------------------------------------------"
