name: Common CI Pipeline

on:
  workflow_call:
    inputs:
      app_type:
        required: true
        type: string
      environment:
        required: true
        type: string

permissions:
  contents: read
  packages: write
  # security-events: write

jobs:
  build-java:
    if: inputs.app_type == 'java'
    uses: begh-azka/hello-world-repo/.github/workflows/java-build.yml@main
    with:
      environment: ${{ inputs.environment }}
    

  build-js:
    if: inputs.app_type == 'js'
    uses: begh-azka/hello-world-repo/.github/workflows/js-build.yml@main
    with:
      environment: ${{ inputs.environment }}
    

  build-python:
    if: inputs.app_type == 'python'
    uses: begh-azka/hello-world-repo/.github/workflows/python-build.yml@main
    with:
      environment: ${{ inputs.environment }}
    
  trivy-scan:
    name: Trivy Scan
    if: >
      needs.build-java.result == 'success' ||
      needs.build-js.result == 'success' ||
      needs.build-python.result == 'success' 
    needs:
      - build-java
      - build-js
      - build-python
    runs-on: ubuntu-latest
    steps:
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: >-
            ${{
              needs.build-java.outputs.image_ref ||
              needs.build-js.outputs.image_ref ||
              needs.build-python.outputs.image_ref 
            }}
          format: html
          output: trivy-report.html

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.html

  deploy:
    name: Deploy
    needs: trivy-scan
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Deploy
        run: |
          echo "Deploying image to ${{ inputs.environment }}"
