# Common Job for Docker Build & Deploy
name: GHCR-JS

permissions:
  #contents: read
  packages: write
  
on:
  push: 
  workflow_call:
    secrets:
        MONGO_PASSWORD: 
          description: "Database secret"
          required: true          
    inputs:
      MONGO_USERNAME: 
        type: string
        required: true
      build_type:
        required: true
        type: string

      dry_run:
        required: true
        type: boolean

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/node-app
 
jobs:
  Build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}  # Owner's name is the username
          password: ${{ secrets.GITHUB_TOKEN }} # Github automatically creates this token per workflow run

      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: | 
              ${{ env.IMAGE_NAME }}:${{ github.sha }}
              ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Trivy Image Scan 
        uses: aquasecurity/trivy-action@0.24.0
        continue-on-error: true
        with:
          image-ref: ${{ env.IMAGE_NAME }}:latest
          severity: HIGH,CRITICAL
          format: json
          output: trivy-report.json
          # exit-code: 1
     
      - run: ls -lr
      
      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.json
          
  Deploy:
       runs-on: ubuntu-latest
       needs: Build
       steps:
         - name: Checkout Source Repository
           uses: actions/checkout@v4
         - name: Deploy application
           env:
              MONGO_USERNAME: ${{ inputs.MONGO_USERNAME }}
              MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
              DOCKER_USERNAME: ${{ github.actor }}
           run: |
                chmod +x deploy.sh
                ./deploy.sh
                wget -qO- http://localhost:3000/live
