name: Docker Js
# Name of the reusable (common) workflow

on:
  workflow_call:
    secrets:
        MONGO_PASSWORD: 
          description: "Database secret"
          required: true
        # DOCKER_USERNAME: 
        #   required: true
        # DOCKER_PAAWORD: 
        #   required: true
          
    inputs:
      MONGO_USERNAME: 
        type: string
        description: "Database secret"
        required: true
        
      build_type:
        required: true
        type: string

      dry_run:
        required: true
        type: boolean

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    env:
        MONGO_USERNAME: ${{ inputs.MONGO_USERNAME }}
        MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: ${{ secrets.DOCKER_USERNAME }}/node-app
            tags: |
              type=sha
              type=raw,value=latest

      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
