name: Java Build

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    outputs:
      image_ref:
        value: ${{ jobs.build.outputs.image_ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_ref: ${{ steps.docker.outputs.image }}
    steps:
      - uses: actions/checkout@v4

      - name: Build JAR
        run: mvn clean package -DskipTests

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        id: docker
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "image=$IMAGE" >> $GITHUB_OUTPUT
      - name: Trivy Image Scan 
        uses: aquasecurity/trivy-action@0.24.0
        continue-on-error: true
        with:
          image-ref: ${{ needs.build-js.outputs.image_ref }}
          severity: HIGH,CRITICAL
          format: template
          template: "@/contrib/html.tpl"
          output: trivy-report.html
          # exit-code: 1
  
      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.html
