# Common Job for Docker Build & Deploy
name: Kubernetes-JS

permissions:
  #contents: read
  packages: write
  
on:
  push: 
  workflow_call:
    secrets:
        MONGO_PASSWORD: 
          description: "Database secret"
          required: true          
    inputs:
      MONGO_USERNAME: 
        type: string
        required: true
      build_type:
        required: true
        type: string

      dry_run:
        required: true
        type: boolean

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/node-app
 
jobs:
  Build:
    name: Build, Push and Test Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR 
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}  # Owner's name is the username
          password: ${{ secrets.GITHUB_TOKEN }} # Github automatically creates this token per workflow run

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest
          load: true   # loads image into runner to keep it available for trivy. Otherwise image not found error
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Trivy Image Scan 
        uses: aquasecurity/trivy-action@0.24.0
        continue-on-error: true
        with:
          image-ref: ${{ env.IMAGE_NAME }}:latest
          severity: HIGH,CRITICAL
          format: template
          template: "@/contrib/html.tpl"
          output: trivy-report.html
          # exit-code: 1
      
      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-html-report
          path: trivy-report.html

      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest
          
  Deploy:
       runs-on: ubuntu-latest
       needs: Build
       steps:
        - name: Checkout Source Repository
          uses: actions/checkout@v4

        #  - name: Deploy application
        #    env:
        #       MONGO_USERNAME: ${{ inputs.MONGO_USERNAME }}
        #       MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
        #       DOCKER_USERNAME: ${{ github.actor }}

        - name: Install kubectl CLI
          uses: azure/setup-kubectl@v3
          with:
              version: 'v1.26.0'

        - name: Fetch Kubernetes Cluster Details
          run: |
              kubectl version --short
              echo --------------------------------------
              echo
              kubectl get nodes -o wide
           