name: Hello World CI

on: push

jobs:
  build_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Print message
        run: echo "GitHub Actions is running!huzzah"

  test_job: 
    needs: build_job
    runs-on: ubuntu-latest

    steps:
      - name: Do an ls
        run: ls -lrt
        
